@import "../variables.scss";

input:not([type="radio"]):not([type="checkbox"]) {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  border: solid 1px $alto;
  background-color: $white;
  color: $gray;
  padding: 0px 20px;
  outline: none;

  font-family: $montserrat;
  font-size: 14px;
  font-weight: 300;

  transition-duration: 0.5s;
  transition-property: border-color;

  &::placeholder {
    color: $alto;
  }

  &:focus {
    border-color: $gray;
  }
}
