@import "../variables.scss";

.select-container {
    position: relative;
    height: 50px;

    select {
        appearance: none;
        width: 100%;
        height: 100%;
        outline: none;
        border-radius: 4px;
        border: solid 1px $alto;
        padding: 0px 20px;
        padding-right: 70px;
        cursor: pointer;

        font-family: $montserrat;
        font-size: 14px;
        font-weight: 300;
    }

    &::after {
        content: $icon-caret-down-solid;
        font-family: $icomoon-font-family;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 1px;
        top: 1px;
        width: 50px;
        height: calc(100% - 2px);
        border-left: solid 1px $alto;
        background-color: $wildsand;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        pointer-events: none;
    }
}
