@import "../variables.scss";

textarea {
  display: block;
  width: 100%;
  height: 130px;
  padding: 15px 20px;
  border-radius: 4px;
  border: solid 1px $alto;
  background-color: $white;
  outline: none;
  resize: none;
  font-family: $montserrat;
  font-size: 14px;
  font-weight: 300;
  transition-duration: 0.5s;
  transition-property: border-color;

  &::placeholder {
    color: $alto;
  }

  &:focus {
    border-color: $gray;
  }
}
