@font-face {
  font-family: "#{$icomoon-font-family}";
  src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?afw5mf");
  src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?afw5mf#iefix") format("embedded-opentype"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?afw5mf") format("truetype"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.woff?afw5mf") format("woff"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.svg?afw5mf##{$icomoon-font-family}") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "#{$icomoon-font-family}" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caret-down-solid::before {
  content: $icon-caret-down-solid;
}
.icon-caret-left-solid::before {
  content: $icon-caret-left-solid;
}
.icon-caret-right-solid::before {
  content: $icon-caret-right-solid;
}
.icon-caret-up-solid::before {
  content: $icon-caret-up-solid;
}
.icon-check-solid::before {
  content: $icon-check-solid;
}
.icon-circle-solid::before {
  content: $icon-circle-solid;
}
.icon-info-solid::before {
  content: $icon-info-solid;
}
.icon-times-solid::before {
  content: $icon-times-solid;
}
