@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

@import "variables.scss";
@import "icon.scss";
@import "form.scss";
@import "validation.scss";