@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

@import "variables.scss";
@import "icon.scss";

.supreme-validate {
    @import "./form/input.scss";

    .checkbox-list {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;

        li {
            list-style-type: none;
            margin-bottom: 15px;

            &:not(:last-child) {
                margin-right: 15px;
            }

            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }

            label {
                cursor: pointer;
                display: flex;
                align-items: center;
                margin: 0;
                font-family: $montserrat;
                font-size: 12px;
                font-weight: 300;
                color: $gray;
                transition-duration: 0.5s;
                transition-property: color;

                &::before {
                    content: $icon-check-solid;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: $icomoon-font-family;
                    font-size: 7px;
                    color: transparent;
                    width: 15px;
                    height: 15px;
                    border-radius: 4px;
                    border: solid 1px $gray;
                    background-color: $white;
                    margin-right: 10px;
                    transition-duration: 0.5s;
                    transition-property: border-color, color;
                }
            }

            input:checked + label {
                color: $emerald;
            }

            input:checked + label::before {
                border-color: $emerald;
                color: $emerald;
            }
        }
    }

    .radio-list {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;

        li {
            list-style-type: none;
            margin-bottom: 15px;

            &:not(:last-child) {
                margin-right: 15px;
            }

            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }

            label {
                cursor: pointer;
                display: flex;
                align-items: center;
                margin: 0;
                font-family: $montserrat;
                font-size: 12px;
                font-weight: 300;
                color: $gray;
                transition-duration: 0.5s;
                transition-property: color;

                &::before {
                    content: $icon-circle-solid;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: $icomoon-font-family;
                    font-size: 5px;
                    color: transparent;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    border: solid 1px $gray;
                    background-color: $white;
                    margin-right: 10px;
                    transition-duration: 0.5s;
                    transition-property: border-color, color;
                }
            }

            input:checked + label {
                color: $emerald;
            }

            input:checked + label::before {
                border-color: $emerald;
                color: $emerald;
            }
        }
    }

    .select-container {
        position: relative;
        height: 50px;

        select {
            appearance: none;
            width: 100%;
            height: 100%;
            outline: none;
            border-radius: 4px;
            border: solid 1px $alto;
            padding: 0px 20px;
            padding-right: 70px;
            cursor: pointer;

            font-family: $montserrat;
            font-size: 14px;
            font-weight: 300;
        }

        &::after {
            content: $icon-caret-down-solid;
            font-family: $icomoon-font-family;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            right: 1px;
            top: 1px;
            width: 50px;
            height: calc(100% - 2px);
            border-left: solid 1px $alto;
            background-color: $wildsand;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            pointer-events: none;
        }
    }

    textarea {
        margin-bottom: 15px;
        width: 100%;
        height: 130px;
        padding: 15px 20px;
        border-radius: 4px;
        border: solid 1px $alto;
        background-color: $white;
        outline: none;
        resize: none;

        font-family: $montserrat;
        font-size: 14px;
        font-weight: 300;

        transition-duration: 0.5s;
        transition-property: border-color;

        &::placeholder {
            color: $alto;
        }

        &:focus {
            border-color: $gray;
        }
    }

    button {
        appearance: none;
        padding: 0px 37px;
        height: 55px;
        font-family: $montserrat;
        font-size: 14px;
        font-weight: 300;
        color: $white;
        border-radius: 4px;
        background-color: $azureradiance;
        border: 0px;
        outline: none;

        &:focus {
            outline: none;
        }
    }

    & > * {
        font-family: $montserrat;
    }

    &-element {
        position: relative;
        margin-bottom: 15px;

        &::after {
            content: attr(error-message);
            font-size: 11px;
            font-weight: 300;
            color: $redorange;
            margin-top: 10px;
            display: none;
        }

        &.error {
            input {
                border-color: $redorange;

                &:focus {
                    border-color: $redorange;
                }
            }

            label {
                color: $redorange;
            }

            &::after {
                display: block;
            }
        }
    }
}
