$icomoon-font-family: "SupremeValidationIconFont" !default;
$icomoon-font-path: "../fonts" !default;

$icon-caret-down-solid: "\e900";
$icon-caret-left-solid: "\e901";
$icon-caret-right-solid: "\e902";
$icon-caret-up-solid: "\e903";
$icon-check-solid: "\e904";
$icon-circle-solid: "\e905";
$icon-info-solid: "\e906";
$icon-times-solid: "\e907";


$montserrat: 'Montserrat', sans-serif;

$alto: #d8d8d8;
$gray: #8B8B8B;
$white: #ffffff;
$wildsand: #f4f4f4;
$emerald: #4FC56B;
$azureradiance: #007AFF;
$redorange: #FF3B30;